.container-button {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  .disabledButton {
    cursor: not-allowed;
    color: rgb(229, 229, 229) !important;
    pointer-events: none;
    border-color: rgb(229, 229, 229) !important;
  }
}
